<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="net.gogame.dragon" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="org.onepf.openiab.permission.BILLING"/>
    <uses-permission android:name="com.sec.android.iap.permission.BILLING"/>
    <uses-permission android:name="com.nokia.payment.BILLING"/>
    <uses-permission android:name="com.slideme.sam.manager.inapp.permission.BILLING"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="net.gogame.dragon.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="net.gogame.dragon.permission.C2D_MESSAGE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <application android:debuggable="false" android:icon="@drawable/app_icon" android:isGame="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="jp.colopl.drapro.ColoplApplication">
        <receiver android:name="im.getsocial.sdk.invites.MultipleInstallReferrerReceiver">
            <intent-filter android:autoVerify="false">
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:name="im.getsocial.sdk.internal.unity.GetSocialDeepLinkingActivity">
            <intent-filter android:autoVerify="true">
                <data android:host="dragonproject-gsalt.gsc.im" android:scheme="https"/>
                <data android:host="dragonproject.gsc.im" android:scheme="https"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:autoVerify="false">
                <data android:host="LH8Uv8906P6j" android:scheme="getsocial"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <provider android:authorities="net.gogame.dragon.smartinvite.images.provider" android:enabled="true" android:exported="true" android:name="im.getsocial.sdk.invites.ImageContentProvider"/>
        <provider android:authorities="net.gogame.dragon.AutoInitSdkContentProvider" android:enabled="true" android:exported="false" android:name="im.getsocial.sdk.AutoInitSdkContentProvider"/>
        <meta-data android:name="im.getsocial.sdk.UiConfigurationFile" android:value=""/>
        <meta-data android:name="im.getsocial.sdk.AutoInitSdk" android:value="true"/>
        <meta-data android:name="im.getsocial.sdk.ShowNotificationInForeground" android:value="false"/>
        <meta-data android:name="im.getsocial.sdk.AutoRegisterForPush" android:value="true"/>
        <meta-data android:name="im.getsocial.sdk.WrapperVersion" android:value="6.19.2"/>
        <meta-data android:name="im.getsocial.sdk.RuntimeVersion" android:value="5.3.3f1"/>
        <meta-data android:name="im.getsocial.sdk.Runtime" android:value="UNITY"/>
        <meta-data android:name="im.getsocial.sdk.AppId" android:value="LH8Uv8906P6j"/>
        <provider android:authorities="net.gogame.dragon" android:exported="false" android:grantUriPermissions="true" android:name="com.yasirkula.unity.UnitySSContentProvider"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/push_icon"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@drawable/app_icon"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:label="@string/app_name" android:launchMode="singleTask" android:name="jp.colopl.drapro.StartActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*.gogame.net" android:scheme="gogamedrapro"/>
                <data android:host="drapro.gogame.net" android:scheme="gogamedrapro"/>
                <data android:host="*.drapro.gogame.net" android:scheme="gogamedrapro"/>
                <data android:host="dp.gogame.net" android:scheme="gogamedrapro"/>
                <data android:host="*.db.gogame.net" android:scheme="gogamedrapro"/>
            </intent-filter>
        </activity>
        <intent-filter>
            <action android:name="com.android.vending.INSTALL_REFERRER"/>
        </intent-filter>
        <receiver android:exported="true" android:name="com.appsflyer.MultipleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="jp.colopl.drapro.GogameFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="jp.colopl.libs.AssetService"/>
        <service android:name="jp.colopl.libs.AnalyticsService"/>
        <receiver android:name="jp.colopl.drapro.LocalNotificationAlarmReceiver"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="fd8ec9cb24e8352db761b66890b5b3af975f2b4a"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb403641043327462"/>
        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:name="com.facebook.unity.FBUnityLoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:name="com.facebook.unity.FBUnityDialogsActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:exported="true" android:name="com.facebook.unity.FBUnityAppLinkActivity"/>
        <activity android:exported="true" android:name="com.facebook.unity.FBUnityDeepLinkingActivity"/>
        <activity android:name="com.facebook.unity.FBUnityGameRequestActivity"/>
        <activity android:name="com.facebook.unity.FBUnityCreateGameGroupActivity"/>
        <activity android:name="com.facebook.unity.FBUnityJoinGameGroupActivity"/>
        <activity android:name="com.facebook.unity.AppInviteDialogActivity"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider403641043327462" android:exported="true" android:name="com.facebook.FacebookContentProvider"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:label="@string/app_name" android:launchMode="singleTask" android:name="org.onepf.openiab.UnityProxyActivity"/>
        <receiver android:name="com.amazon.device.iap.ResponseReceiver">
            <intent-filter>
                <action android:name="com.amazon.inapp.purchasing.NOTIFY" android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"/>
            </intent-filter>
        </receiver>
        <activity android:name="net.gogame.gopay.sdk.iab.PurchaseActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.google.games.bridge.NativeBridgeActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <meta-data android:name="com.google.android.gms.nearby.connection.SERVICE_ID" android:value=""/>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="\ 683498632423"/>
        <meta-data android:name="com.google.android.gms.games.unityVersion" android:value="0.9.38a"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="net.gogame.dragon.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="net.gogame.dragon"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.google.firebase.messaging.cpp.ListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.google.firebase.messaging.cpp.FcmInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.google.firebase.messaging.cpp.RegistrationIntentService"/>
        <receiver android:name="im.getsocial.sdk.PushNotificationsReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name=".gcm"/>
            </intent-filter>
            <intent-filter>
                <action android:name="im.getsocial.sdk.intent.RECEIVE"/>
                <data android:scheme="getSocialNotificationId"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="net.gogame.gowrap.ui.MainActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="net.gogame.gowrap.ui.dpro.ui.MainActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <service android:exported="false" android:name="com.zopim.android.sdk.api.ChatService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="net.gogame.zopim.client.base.ZopimMainActivity" android:theme="@style/net.gogame.zopim.ZopimChatTheme" android:windowSoftInputMode="adjustResize"/>
        <receiver android:name="com.zopim.android.sdk.api.ZopimChat$ChatTimeoutReceiver">
            <intent-filter android:priority="1000">
                <action android:name="chat.action.TIMEOUT"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="net.gogame.gowrap.integrations.InstallReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="net.gogame.gowrap.integrations.PackageRemovedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="net.gogame.gowrap.installReferrerReceiver.appsflyer" android:value="com.appsflyer.SingleInstallBroadcastReceiver"/>
        <meta-data android:name="net.gogame.gowrap.packageRemovedReceiver.appsflyer" android:value="com.appsflyer.SingleInstallBroadcastReceiver"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="net.gogame.gopay.sdk.StoreActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="net.gogame.gopay.sdk.iab.PurchaseActivity" android:theme="@android:style/Theme.Translucent"/>
    </application>
    <receiver android:name="mp.MpSMSReceiver">
        <intent-filter>
            <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
        </intent-filter>
    </receiver>
    <service android:name="mp.MpService"/>
    <service android:name="mp.StatusUpdateService"/>
    <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="mp.MpActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
</manifest>