<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2018070602" android:versionName="1.3.3" android:installLocation="preferExternal" package="net.gogame.dragon" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="25"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="org.onepf.openiab.permission.BILLING"/>
    <uses-permission android:name="com.sec.android.iap.permission.BILLING"/>
    <uses-permission android:name="com.nokia.payment.BILLING"/>
    <uses-permission android:name="com.slideme.sam.manager.inapp.permission.BILLING"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <permission android:name="net.gogame.dragon.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="net.gogame.dragon.permission.C2D_MESSAGE"/>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
    <application android:label="@string/app_name" android:icon="@drawable/app_icon" android:name="jp.colopl.drapro.ColoplApplication" android:debuggable="false" android:launchMode="singleTask" android:isGame="true">
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/push_icon"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@drawable/app_icon"/>
        <activity android:theme="@style/AppTheme" android:label="@string/app_name" android:name="jp.colopl.drapro.StartActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="gogamedrapro" android:host="*.gogame.net"/>
                <data android:scheme="gogamedrapro" android:host="drapro.gogame.net"/>
                <data android:scheme="gogamedrapro" android:host="*.drapro.gogame.net"/>
                <data android:scheme="gogamedrapro" android:host="dp.gogame.net"/>
                <data android:scheme="gogamedrapro" android:host="*.db.gogame.net"/>
            </intent-filter>
        </activity>
        <intent-filter>
            <action android:name="com.android.vending.INSTALL_REFERRER"/>
        </intent-filter>
        <receiver android:name="com.appsflyer.MultipleInstallBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="jp.colopl.drapro.GogameFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="jp.colopl.libs.AssetService"/>
        <service android:name="jp.colopl.libs.AnalyticsService"/>
        <receiver android:name="jp.colopl.drapro.LocalNotificationAlarmReceiver"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="fd8ec9cb24e8352db761b66890b5b3af975f2b4a"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="fb403641043327462"/>
        <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="true"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.facebook.unity.FBUnityLoginActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.facebook.unity.FBUnityDialogsActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"/>
        <activity android:name="com.facebook.unity.FBUnityAppLinkActivity" android:exported="true"/>
        <activity android:name="com.facebook.unity.FBUnityDeepLinkingActivity" android:exported="true"/>
        <activity android:name="com.facebook.unity.FBUnityGameRequestActivity"/>
        <activity android:name="com.facebook.unity.FBUnityCreateGameGroupActivity"/>
        <activity android:name="com.facebook.unity.FBUnityJoinGameGroupActivity"/>
        <activity android:name="com.facebook.unity.AppInviteDialogActivity"/>
        <provider android:name="com.facebook.FacebookContentProvider" android:exported="true" android:authorities="com.facebook.app.FacebookContentProvider403641043327462"/>
        <activity android:label="@string/app_name" android:name="org.onepf.openiab.UnityProxyActivity" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"/>
        <receiver android:name="com.amazon.device.iap.ResponseReceiver">
            <intent-filter>
                <action android:name="com.amazon.inapp.purchasing.NOTIFY" android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"/>
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.Translucent" android:name="net.gogame.gopay.sdk.iab.PurchaseActivity"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.google.games.bridge.NativeBridgeActivity"/>
        <meta-data android:name="com.google.android.gms.nearby.connection.SERVICE_ID" android:value=""/>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="683498632423"/>
        <meta-data android:name="com.google.android.gms.games.unityVersion" android:value="0.9.38a"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.facebook.FacebookActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="net.gogame.dragon.firebaseinitprovider" android:initOrder="100"/>
        <service android:name="com.google.firebase.iid.FirebaseInstanceIdService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="net.gogame.dragon"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdInternalReceiver" android:exported="false"/>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.messaging.cpp.ListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.messaging.cpp.FcmInstanceIDListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.messaging.cpp.RegistrationIntentService" android:exported="false"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:exported="false" android:excludeFromRecents="true"/>
        <service android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:exported="true"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="net.gogame.gowrap.ui.MainActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="net.gogame.gowrap.ui.dpro.ui.MainActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <service android:name="com.zopim.android.sdk.api.ChatService" android:exported="false"/>
        <activity android:theme="@style/net.gogame.zopim.ZopimChatTheme" android:name="net.gogame.zopim.client.base.ZopimMainActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="adjustResize"/>
        <receiver android:name="com.zopim.android.sdk.api.ZopimChat$ChatTimeoutReceiver">
            <intent-filter android:priority="1000">
                <action android:name="chat.action.TIMEOUT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.gogame.gowrap.integrations.InstallReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="net.gogame.gowrap.integrations.PackageRemovedReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="net.gogame.gowrap.installReferrerReceiver.appsflyer" android:value="com.appsflyer.SingleInstallBroadcastReceiver"/>
        <meta-data android:name="net.gogame.gowrap.packageRemovedReceiver.appsflyer" android:value="com.appsflyer.SingleInstallBroadcastReceiver"/>
        <activity android:theme="@android:style/Theme.Dialog" android:name="net.gogame.gopay.sdk.StoreActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@android:style/Theme.Translucent" android:name="net.gogame.gopay.sdk.iab.PurchaseActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
    </application>
    <receiver android:name="mp.MpSMSReceiver">
        <intent-filter>
            <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
        </intent-filter>
    </receiver>
    <service android:name="mp.MpService"/>
    <service android:name="mp.StatusUpdateService"/>
    <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="mp.MpActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
    <uses-feature android:glEsVersion="20000"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
</manifest>
